<div class="w-80 h-[400px] flex flex-col rounded-lg overflow-hidden shadow-lg bg-white cursor-pointer hover:shadow-lg transition " (click)="goToDetail(vehicle.id+'')" *ngIf="vehicle"  >
 
      <!-- Vehicle Image -->
    <div class="relative mx-3 mt-3 flex h-60 overflow-hidden rounded-xl">
      <img class="h-full w-full object-cover " [src]="vehicle.secure_url" [alt]="vehicle.model" />
      <span class="absolute top-0 left-0 m-2 rounded-full bg-black px-2 text-center text-sm font-medium text-white"></span>
    </div>
    <!-- Vehicle Info -->
    <div class="px-4 py-3 flex-1 flex flex-col justify-between">
      <div>
        <div class="font-bold text-lg text-gray-800 mb-1 truncate" [title]="vehicle.brand + ' ' + vehicle.model">
          {{ vehicle.brand }} {{ vehicle.model }}
        </div>
        <p class="text-black font-black">
          <i class="fa-solid fa-user fa-sm"></i>:<span class=" text-base p-1">{{ vehicle.seater }}</span></p>
        <!-- <p class="text-gray-600 text-sm truncate" [title]="vehicle.locate">
          <i class="fa-solid fa-location-dot"></i>:<span class="font-medium">{{ vehicle.locate }}</span>
        </p> -->
      </div>
      <div>
        <p class="text-gray-900 font-semibold mt-2 text-md">₹{{ vehicle.pricePerDay }} / day</p>
      </div>
    </div>

    <!-- Tags -->
    <div class="px-4 pt-1 pb-2 ">
      <span class="inline-block bg-blue-100 text-blue-800 rounded-full px-3 py-1 text-sm font-bold mr-2 mb-1 ">#{{ vehicle.type }}</span>
      <span class="inline-block text-slate-700 rounded-full px-3 py-1 font-bold text-sm mr-2 mb-1" 
      [ngClass]="{
        'bg-green-500 ': vehicle.avgRating >= 4,
        'bg-yellow-300 ': vehicle.avgRating > 2.5 && vehicle.avgRating <4,
        'bg-red-300': vehicle.avgRating <= 2.5
      }">
        ⭐ {{ vehicle.avgRating }}</span>
    </div>

    <!-- Book Button -->
    <div class="px-4 pb-4">
      <button
        class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg transition duration-200 ease-in-out"
      >
        Book Now
      </button>
    </div>
    <ng-container *ngIf="isOwner" class="flex">
      <div class=" flex justify-around items-center">
        <span>
          <button (click)="onDelete(vehicle.id+'')" type="button" class=" max-w-28   focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
            Delete
          </button>
        </span>
        <span>
         
          <button [routerLink]="['/vehicle/edit', vehicle.id]" class="max-w-40  focus:outline-none text-white bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">
            Edit
          </button>
          
        </span>
      </div>
      
    </ng-container> 
</div>
